# ======================
# Java
# ======================
*.class
*.log
*.jar
*.war
*.ear
target/
**/target/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Frontend
# ======================
node_modules/
dist/
**/dist/
*.map

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml